script#contentTmpl(type="text/x-jquery-tmpl")
  .post.jumbotron
    .post-header
      .item-title
        h3.badge-evt.badge-track(href="#") ${title}
      //- .item-description
        //- a.badge-evt.badge-track(href="#") ${content}
    .post-body
      a.badge-evt.badge-track.badge-track-no-follow(href="#")
        .col-md-4
          img.badge-item-img.col-md-12(src='${image}' style="height:200px;")
        .col-md-8
          h3.text-info.new-title.badge-evt.badge-track(href="#") ${newsTitle}
          p.text-muted.text-left.badge-evt.badge-track(href="#") ${content}...
      .clearfix
    .post-footer
      .post-info 56% 讚 · 10 評論
      button.btn.btn-default.btn-lg
        i.glyphicon.glyphicon-arrow-up
      button.btn.btn-default.btn-lg
        i.glyphicon.glyphicon-arrow-down
      button.btn.btn-default.btn-lg
        i.glyphicon.glyphicon-edit
