script#contentTmpl(type="text/x-jquery-tmpl")
  .post.jumbotron(id="${_id}")
    .post-header
      .item-title
        a.badge-evt.badge-track(href="#") ${title}
    .post-body
      a.badge-evt.badge-track.badge-track-no-follow(href="#", style="min-height:360px;")
        img.badge-item-img(src='${image}')
    .post-footer
      .post-info 
        
        span.comment ${comment.length} 
        | 評論
      div.media
        div.pull-left
          a(href="/like/add/${_id}").btn.btn-default.btn-lg.motion.btn-primary
            span.like ${like.length}
            | 讚 ·  
            i.glyphicon.glyphicon-hand-up
      
        div.pull-right
          a(href="/dislike/add/${_id}").btn.btn-default.btn-lg.motion.btn-danger
            span.dislike ${dislike.length}
            | 幹  ·       
            i.glyphicon.glyphicon-thumbs-down
      
      div.progress
        div.progress-like.progress-bar.progress-bar-info(style="width: ${percent.like}%")
        div.progress-dislike.progress-bar.progress-bar-danger(style="width: ${percent.dislike}%")
      div.comment
        button.btn.btn-default.btn-lg
          i.glyphicon.glyphicon-edit
      
