script#contentTmpl(type="text/x-jquery-tmpl")
  .post.jumbotron(id="${_id}")
    .post-header
      .item-title
        a.badge-evt.badge-track(href="#") ${title}
    .post-body
      a.badge-evt.badge-track.badge-track-no-follow(href="#", style="min-height:360px;")
        img.badge-item-img(src='${image}')
    .post-footer
      .post-info 
        span.like ${like.length}
        | 讚 ·  
        span.dislike ${dislike.length} 
        | 幹  · 
        span.comment ${comment.length} 
        | 評論
      a(href="/like/add/${_id}").btn.btn-default.btn-lg.motion
        i.glyphicon.glyphicon-arrow-up
      a(href="/dislike/add/${_id}").btn.btn-default.btn-lg.motion
        i.glyphicon.glyphicon-arrow-down
      button.btn.btn-default.btn-lg
        i.glyphicon.glyphicon-edit
