extends layout

block content
  if user
    .list-group-item.list-group-item-warning.user-info
      .container Hello #{user.name} Welcome to #{title}

  .container
    .row
      h1= title
      if user
        h1= user.name
      else
        h1 沒有登入
      p Welcome to #{title}