extends layout

block content
  if req.session.user
    .list-group-item.list-group-item-warning.user-info
      .container Hello #{req.session.user.name} Welcome to #{title}

  .container
    .row
      h1= title
      if req.session.user
        h1= req.session.user.name
      else
        h1 沒有登入
      p Welcome to #{title}