script#commentTmpl(type="text/x-jquery-tmpl")
  .comment-body(style='background-color:${status}')
    img.pull-left(src='${user.user.img}')
    .message
      p.name ${user.user.name}
      p ${message}
      p.date.text-right ${moment(create_date).format('MM/DD HH:mm')}
    .clearfix
