doctype html
html(lang='en', mode='normal')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Xgag 是台灣的一個新聞平台，提供各種有趣, 好玩, 歡呼, 花惹發等新聞內容互動體驗，提供使用者全面且豐富的閱讀感受，我們是 Xgag。')
    meta(name='keywords' , content='xgag, fun, funny, lol ,wtf ,news, 新聞, 有趣, 好玩, 歡呼, 花惹發')
    meta(itemprop="image" content="http://xgag.me/images/xgaglogo.png")
    meta(name='author', content='exma')
    meta(itemprop="name" content="xgag")
    meta(itemprop="image" content="http://xgag.me/images/xgaglogo.png")
    meta(itemprop="description" content="Xgag 是台灣的一個新聞平台，提供各種有趣, 好玩, 歡呼, 花惹發等新聞內容互動體驗，提供使用者全面且豐富的閱讀感受，我們是 Xgag。")
    
    if title != 'post'
      meta(property="og:title" content="Xgag")
      meta(property="og:url" content="#{config.domain}")
      meta(property="og:image" content="#{config.domain}images/xgaglogo.png")
      meta(property="og:description" content="Xgag 是台灣的一個新聞平台，提供各種有趣, 好玩, 歡呼, 花惹發等新聞內容互動體驗，提供使用者全面且豐富的閱讀感受，我們是 Xgag。")
    else
      meta(property="og:title" content="#{posts.title}")
      meta(property="og:url" content="#{config.domain}detailPost/#{posts._id}")
      meta(property="og:image" content="#{posts.image}")
      meta(property="og:description" content="#{posts.content}")
    title= title
    //- Bootstrap Core CSS
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
    //- Custom CSS
    link(rel='stylesheet' href='/stylesheets/main.css')
    link(rel='stylesheet' href='/stylesheets/xgag.css')

    //- jQuery
    script(type='text/javascript' src='/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/lib/jquery.tmpl.min.js')
    //- Bootstrap Core JavaScript
    script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js')
    //- Moment JS
    script(type='text/javascript' src='/moment/min/moment.min.js')
    //- Custom JS
    script(type='text/javascript' src='/javascripts/main.js')
    block js


    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <![endif]
  body
    include header
    block content

    .modal.fade.upload-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-upload' aria-hidden='true')
      .modal-dialog.modal-lg
        form.modal-content#frmUploadFile(enctype='multipart/form-data' action='/upload' method='post' role = "form")
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title#dialog-upload Post a fun
            p Upload funny news, paste URL
          .modal-body
            .col-md-6
              .form-group.form-group-lg
                label.control-label(for='user-post-url') Url :
                input.form-control#user-post-url(type='url' name='user-post-url')
              .form-group.form-group-lg
                label.control-label(for='user-post-title') Title :
                input.form-control#user-post-title(type='text' name='user-post-title')
              .form-group.form-group-lg
                label.control-label(for='user-post-tag') Class :
                select.form-control#user-post-tag(name = 'user-post-tag')
                  option(value = "要聞") 要聞
                  option(value = "娛樂") 娛樂
                  option(value = "運動") 運動
                  option(value = "全球") 全球
                  option(value = "社會") 社會
                  option(value = "產經") 產經
                  option(value = "股市") 股市
                  option(value = "健康") 健康
                  option(value = "正妹") 正妹
                  option(value = "科技") 科技
                  option(value = "動漫") 動漫
                  option(value = "旅遊") 旅遊
                  option(value = "購物") 購物
              .form-group
                label.control-label(for='user-post-description') Description :
                textarea.form-control#user-post-description(rows="6" name='user-post-description')
            .col-md-6
              .form-group
                div#news-prewiew(style="")
            .clearfix
          .modal-footer
            button.btn.btn-default(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Upload

    include footer

    include contentTemplate
